/* ------------------------ Global Styles ----------------------------------- */

// Global styles
body {
    // Default Font family
    font-family: 'Newson', sans-serif;

    // Application background color
    background: $bg-main;
    background: -webkit-linear-gradient(to right, $white, $bg-main);
    background: linear-gradient(to right, $white, $bg-main);

    // Main Layout structure
    .app-main-layout {
        max-width: $app-max-width;
        margin: auto;
        flex-grow: 1;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 3rem;
      
        @media (max-width: 1650px) {
          padding: 0 20px 0 20px;
        }
    }

    // Global header Styles
    header {
        max-height: $header-heigth;
        min-height: $header-heigth;
        background-color: $secondary;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
      }
}

/* ---------------------------- Scroll BAR ------------------------ */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $primary;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
}

/* ------------------------ Extra Styles -------------------------- */
.pointer {
    cursor: pointer;
}

// Remove hover effects
.no-hover {
    &:hover {
        background: unset;
        color: unset;
    }
}

.login-container {
    max-width: 720px;
}