/* ------------------------ Global Styles ----------------------------------- */

// Default global styles
body {
    font-family: 'sans-serif';
}

/* ---------------------------- Scroll BAR ------------------------ */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $primary;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
}
