@media (max-width: $screen-md-max) {
    .app-flex-sm-column {
        flex-direction: column !important;
        gap: 8px !important;
    }

    .me-sm-none {
        margin-right: unset !important;
    }
}