// Main Color variables
$primary: #061ab1;
$secondary: #c8e7f2;
$success: #c0e2ad;
$info: #1601ff;
$warning: #ffd100;
$danger: #f34141;
$light: #e5e7ea;
$dark: #000;

// App Background color
$bg-main: #ADA996;
$bg-secondary: #EAEAEA;
$bg-terciary: #DBDBDB;
$bg-soft: #F2F2F2;
$bg-hs: hsl(0, 0%, 95%);