// Main Color variables
$primary: #061ab1;
$secondary: #c8e7f2;
$success: #c0e2ad;
$info: #1601ff;
$warning: #ffd100;
$danger: #f34141;
$light: #e5e7ea;
$dark: #000;
$white: #ffffff;

// App Background color
$bg-main: #ECE9E6;