// Main Color variables
$primary: #061ab1;
$secondary: #c8e7f2;
$success: #c0e2ad;
$info: #1601ff;
$warning: #ffd100;
$danger: #f34141;
$light: #e5e7ea;
$dark: #000;
$white: #ffffff;
$primary-soft-blue: #c8e7f2;

// App Variables
$bg-main: #ECE9E6;
$app-max-width: 1760px;
$header-heigth: 80px;

// ---------------------- Device Measures -----------------------

$screen-md-max: 800px;  // Small Tablets (portrait view)
